@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-accent: var(--color-zinc-800);
        --color-accent-content: var(--color-zinc-800);
        --color-accent-foreground: var(--color-white);
        --color-accent-light: var(--color-zinc-400);
    }

    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-zinc-800);
    }
}
